/* HEADER ---------------------------------------- */

/* MAIN ---------------------------------------- */
/* main{
  padding-top: 80px;
} */
/* content one page ---------------------------------------- */

/* hero ---------------------------------------- */

/* work ---------------------------------------- */

/* photo ---------------------------------------- */

/* employees ---------------------------------------- */

/* permanent-clients --------------------------------------- */

/* content two page ---------------------------------------- */
/* main.main {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* button two page ---------------------------------------- */

/* content */

/* FOOTER ---------------------------------------- */

/* --------modal window--------------------------------- */
/* _ */
/* _ */
