header {
  /* position: fixed;
    min-height: 80px;
    width: 100%; */
  border: 1px solid #ececec;
  background-color: #fff;
}

.main-meny {
  display: flex;
}
.main-meny .nav {
  display: flex;
  align-items: center;
}
.site-nav .link.curent {
  position: relative;
  color: var(--akcent);
}
.site-nav .link.curent::after {
  position: absolute;
  display: inline-block;
  content: "";

  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--akcent);

  /* outline: 1px solid tomato; */
}

/* logo----------------------------------------  */
.logo {
  margin-right: 93px;

  color: var(--akcent);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo .studio {
  color: var(--primery-text-cplor);
}

/* nav ---------------------------------------- */
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* .site-nav .item + .item {
    margin-left: 30px;
  } */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-text-cplor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent);
}

/* auth---------------------------------------- */
.site-auth {
  display: flex;
  margin-left: auto;
}
.site-auth .item:not(:last-child) {
  margin-right: 30px;
}
/* .site-auth .item + .item {
    margin-left: 30px;
  } */

.site-auth .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
}
.site-auth .link:hover,
.site-auth .link:focus {
  color: var(--akcent);
}
.site-auth .link .items {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* .site-auth .link::before {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .item-envel::before {
    background-image: url(../images/icon.svg/envelope.svg);
  }
  .item-smartp::before {
    background-image: url(../images/icon.svg/smartphone.svg);
  } */
