.employees {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-color-two);

  .head-text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  .list {
    display: flex;
  }

  .fon:not(:last-child) {
    margin-right: 30px;
  }

  .fon {
    background-color: var(--primary-wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.employees-div {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .employees-main {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  }
  .employees-secondary {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.18;
  }

  .list {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;

    align-items: center;

    /* outline: 1px solid tomato; */
  }

  .item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }

    /* outline: 1px solid tomato; */
  }

  .items {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: rgba(175, 177, 184, 1);
    background-color: #fff;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* outline:  1px solid tomato; */

    &:hover,
    &:focus {
      color: #fff;
      background-color: var(--akcent);
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;

      margin-top: 12px;
      fill: currentColor;

      /* outline: 1px solid tomato; */
    }
  }
}

/* .employees-div .items .icon:hover,
  .employees-div .items .icon:focus{
   fill: currentColor;
  } */
/* .employees-div .item.insta {
    background-image: url(../images/icon.svg/instagram\ 2.svg);
  }
  .employees-div .item.twit {
    background-image: url(../images/icon.svg/twitter\ 1.svg);
  }
  .employees-div .item.faceb {
    background-image: url(../images/icon.svg/facebook\ 1.svg);
  }
  .employees-div .item.in {
    background-image: url(../images/icon.svg/linkedin\ 1.svg);
  }
  
  .div2{
    display: flex;
    width: 206px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
  
    align-items: center;
  
    outline: 1px solid tomato;
  }
  .div2 .item{
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0;
    border: none;
  }
  .div2 .item .icon{
    display: inline-block;
  
    outline: 1px solid tomato;
  } */
