.dewdrop {
  display: inline-block;
  margin-left: 93px;
  div {
    display: flex;
  }
}

.dewdrop-title {
  display: block;
  padding-top: 15px;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-wite-color);
  text-transform: uppercase;
}
.dewdrop-input {
  padding-left: 15px;

  width: 358px;
  height: 50px;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid var(--secondary-color);
  color: var(--primary-wite-color);
  background-color: var(--color-fon-hed-fot);
}
.btn-dewdrop {
  display: flex;
  margin-left: 15px;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  color: var(--primary-wite-color);
  background-color: var(--akcent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: #188ce8;
  }

  .icon-send {
    margin-left: 8px;
    width: 24px;
    height: 24px;
  }
}
