footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-fon-hed-fot);
}
.footer {
  display: flex;
  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  .studio {
    color: var(--primary-wite-color);
  }
}

.footer-adres {
  display: inline-block;
  margin-bottom: 8px;

  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--akcent);
  }
}

.footer-nav {
  display: inline-block;
  margin-bottom: 8px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--akcent);
  }
}
