.modal-imput {
  display: flex;

  padding-left: 42px;

  width: 448px;
  height: 40px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--akcent);
    &:hover + .modal-svg,
    &:focus + .modal-svg {
      fill: var(--akcent);
    }
  }
}

/* .modal-imput::placeholder { 
      color: var(--akcent);
    } */

.modal-imput-t {
  display: block;
  margin-bottom: 4px;
  padding: 10px;

  width: 448px;
  height: 120px;

  @include fond(null, 12px, 1.16, 0.01em);
  // font-size: 12px;
  // line-height: 1.16;
  // letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  resize: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--akcent);
  }
}
/* .modal-imput-t::placeholder {
      color: var(--akcent);
    } */
