.modal-title {
  margin-bottom: 12px;
  padding: 0;

  text-align: center;

  font-weight: 700;
  font-size: 18px;
}

.modal-div1 {
  margin-bottom: 10px;
  .modal-label {
    display: block;
    padding: 0;
    margin-bottom: 4px;

    @include fond(null, 12px, 1.16, 0.01em);
    // font-size: 12px;
    // line-height: 1.16;
    // letter-spacing: 0.01em;
    color: var(--secondary-color);
  }
  .modal-div2 {
    position: relative;
  }
  .modal-svg {
    position: absolute;

    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    width: 15px;
    height: 15px;

    /* outline: 1px solid tomato; */
  }
}
